# Large datasets and outputs (never commit these to Git)
dataset/
output/

# macOS / Windows junk
._*
.DS_Store
__MACOSX/
Thumbs.db

# Python environments & caches
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
*.pkl
*.model
dataset/
output/
*.zip
*.xlsx
test_1/
test_2/
test_3/
Train_4/

dataset/
output/
*.zip
*.xlsx
test_1/
test_2/
test_3/
Train_4/
